/*Extra Small Devices */
@media (max-width: 775.98px){

}
/* Small Devices */
@media (min-width: 768px) and (max-width: 991.98px){
    /* Dashboard */
    .welcome h1{
        font-size: var(--mid);
        font-weight: var(--regular);
    }
    .welcome p{
        font-size: 12px;
    }
    .total{
        font-size: 20;
    }
    
    .avg{
        font-size: 13;
    }
}
/* Medium Devices */
@media (min-width: 992px) and (max-width: 1199.98px){

    

}
/* Larg Devices */
@media (min-width: 1200.98px) and (max-width: 1399.98px){

}
/* Extra Large Devices */
@media (min-width: 1400px){

}